[submodule "includes/timercpp"]
	path = includes/timercpp
	url = https://github.com/99x/timercpp.git
[submodule "includes/SimpleRealTimeNetworking"]
	path = includes/SimpleRealTimeNetworking
	url = https://github.com/Swung0x48/SimpleRealTimeNetworking.git
    branch = experimental
[submodule "includes/hash-library"]
	path = includes/hash-library
	url = https://github.com/stbrumme/hash-library.git
