################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/BallanceMMOServer/out/build/x64-Debug/CMakeFiles
/BallanceMMOServer/out/build/x64-Debug
/BallanceMMOServer/out/build/x64-Debug/CMakeFiles
/build
/BallanceMMOClient/include
/BallanceMMOClient/lib
/BallanceMMOClient/Debug
/Debug
/BallanceMMOClient/x64/Debug
/BallanceMMOClient/Release
/BallanceMMOClient/Release-BMLPlus
/Release
/Release-BMLPlus
/BallanceMMOServer/cmake-build-debug_
/BallanceMMOServer/.idea
/.idea
/BallanceMMOServer/build
/BallanceMMOClient/RelDebug
/RelDebug
.DS_Store
/vcpkg_installed
/BallanceMMOClient/build
/include/BMLPlus/BMLPlus
/include
