[submodule "submodule/vcpkg"]
	path = submodule/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "submodule/GameNetworkingSockets"]
	path = submodule/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
