[submodule "includes/timercpp"]
	path = includes/timercpp
	url = https://github.com/99x/timercpp.git
[submodule "includes/SimpleRealTimeNetworking"]
	path = includes/SimpleRealTimeNetworking
	url = https://github.com/Swung0x48/SimpleRealTimeNetworking.git
