################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/.vscode
/BallanceMMOServer/out/build/x64-Debug/CMakeFiles
/BallanceMMOServer/out/build/x64-Debug
/BallanceMMOServer/out/build/x64-Debug/CMakeFiles
/build
/BallanceMMOClient/include/BML
/BallanceMMOClient/lib/BML
/BallanceMMOClient/Debug
/Debug
/BallanceMMOClient/x64/Debug
/BallanceMMOClient/Release
/Release
/BallanceMMOServer/cmake-build-debug
/BallanceMMOServer/.idea
/.idea
/BallanceMMOServer/build
/BallanceMMOClient/RelDebug
/RelDebug
